/* fonts */
body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
  margin: 0px;
}
/* header sectiom start  */
/* navigation  */

header {
  background-color: #562eff;
  height: 94px;
  width: 100%;
  position: sticky;
  top: 0px;
}
.navigation {
  margin: 0px 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  width: 41px;
  height: 51px;
  margin-right: 16px;
}
.logo > h3 {
  color: white;
  font-size: 24px;
  margin-right: 440px;
}
.nav-header {
  margin-right: 36px;
  display: flex;
}
.nav-header a {
  color: white;
  text-decoration: none;
  margin-right: 36px;
}
.header-img {
  position: relative;
  right: 20px;
}
/* sections start  players */

.players-blogs {
  background: #fff;
  width: 870px;
  height: 635px;
  margin: 36px auto;
  border-radius: 5px;
  padding: 42px 33px;
}
.players-blogs h3 {
  color: #562eff;
  margin: 0px;
}
.players .player img {
  width: 56px;
  height: 56px;
}
.players {
  margin-top: 40px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
.player {
  display: flex;
}
.player p {
  margin-left: 16px;
}
hr {
  margin: 30px 0px;
}

/* blogs start here  */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
  margin-top: 31px;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}
.blog {
  display: flex;
}

.details {
  display: block;
}
.details a {
  color: #562eff;
}
.details h3 {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

/* top courses */

.top-courses {
  width: 870px;
  height: 362px;
  background-color: #fff;
  margin: 36px auto;
  border-radius: 5px;
  padding: 42px 33px;
}
.top-courses > h3 {
  margin-bottom: 11px;
  margin-top: 0px;
}

.box-1,
.box-2,
.box-3 {
  background-color: rgb(250, 247, 242);
  width: 100%;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #bebebe;
}
.courses {
  display: flex;
}
.course .course-thumbnail img {
  width: 224px;
  height: 104px;
  margin-right: 10px;
}
.course .course-thumbnail p {
  font-size: 20px;
  margin-bottom: 0px;
}
h6 {
  color: #ed6b4f;
  margin-top: 7px;
  margin-bottom: 19px;
}
.course {
  justify-content: center;
  margin-left: 5px;
}
.fa-star {
  color: #ffc014;
}
.ratings {
  display: flex;
  align-items: center;
}
.rate {
  margin: 0px 0px 0px 10px;
  font-size: 15px;
  color: #a2a2a2;
}
.duration,
.fa-clock {
  color: #ff4a60;
}
.duration {
  margin-left: 18px;
  background: #ffe4e8;
  border-radius: 14px;
  padding: 0px 7px 0px 7px;
}
footer {
  background-color: #562eff;
  width: 100%;
  height: 120px;
  text-align: center;
}

.foot-img > img {
  width: 40px;
  height: 51px;
  margin-top: 15px;
}
footer span {
  font-weight: bolder;
}

/* Media Query  */

@media only screen and (max-width: 650px) {
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
